body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a1d, #4e4e50);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela {
    display: none;
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.tela.ativa {
    display: block;
}

h1, h2 {
    margin-bottom: 20px;
}

button {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    background-color: #e64a19;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.voltar {
    margin-top: 15px;
    background-color: #666;
}

.lista-jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    background-color: #2b2b2b;
    border-radius: 8px;
    width: 180px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

#erroLogin {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

function mostrarTela(tela) {
    document.querySelectorAll('.tela').forEach(sec => sec.classList.remove('ativa'));
    document.getElementById(tela).classList.add('ativa');
}

function fazerLogin() {
    const user = document.getElementById('usuario').value;
    const pass = document.getElementById('senha').value;
    const erro = document.getElementById('erroLogin');

    if (user === "Tauane" && pass === "0000") {
        mostrarTela('jogos');
        window.location.href='teste.html';
    } else {

        erro.textContent = "Usuário ou senha inválidos!";
    }
}
