* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a0014, #4b007d);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela {
    display: none;
    width: 90%;
    max-width: 800px;
    background: #1a0033;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #a100ff;
}

.tela.ativa { display: block; }

button {
    background: #7c00d4;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    color: #fff;
}
button:hover { background: #c300ff; }

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
}

.lista-jogos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #2b0050;
    width: 180px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #9500ff;
}
.card img {
    width: 100%;
    border-radius: 6px;
}

#iframeJogo {
    width: 100%;
    height: 450px;
    border: none;
    margin: 15px 0;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top: 5px solid #9a00ff;
    border-radius: 50%;
    margin: auto;
    animation: girar 1s linear infinite;
}
@keyframes girar {
    to { transform: rotate(360deg); }
}
